{% extends "app_base/global/index.html" %}

{% load static %}

{% block title %}Cadastrar Empréstimo{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1>Cadastrar Empréstimo</h1>

        {% if success_message %}
            <div class="alert alert-success">{{ success_message }}</div>
        {% endif %}
        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.usuario.label_tag }}
                {{ form.usuario }}
            </div>
            <div class="form-group">
                {{ form.epi.label_tag }}
                {{ form.epi }}
            </div>
            <div class="form-group">
                <label>Data de Empréstimo:</label>  <!-- Rótulo para Data de Empréstimo -->
                <input type="text" value="{{ now|date:'d/m/Y' }}" class="form-control" readonly>
            </div>
            <div class="form-group">
                {{ form.data_devolucao.label_tag }}
                <span>Caso não possua deixar em branco!</span>  <!-- Adicionando um span para o aviso -->
                {{ form.data_devolucao }}
            </div>
            <div class="form-group">
                {{ form.quantidade.label_tag }}
                {{ form.quantidade }}
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
{% endblock content %}
