{% extends "app_base/global/index.html" %}

{% block title %}Lista de Empréstimos{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1>Lista de Empréstimos</h1>

        <form method="GET" action="{% url 'listar_emprestimos' %}" class="mb-3">
            <div class="input-group">
                <input type="text" name="funcionario" placeholder="Pesquisar por Funcionário" value="{{ request.GET.funcionario }}" class="form-control">
                <input type="text" name="cpf" placeholder="Pesquisar por CPF" value="{{ request.GET.cpf }}" class="form-control">
                <input type="text" name="epi" placeholder="Pesquisar por EPI" value="{{ request.GET.epi }}" class="form-control">
                <button type="submit" class="btn btn-secondary">Buscar</button>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Funcionário</th>
                    <th>CPF</th>
                    <th>EPI</th>
                    <th>Quantidade Emprestada</th>  <!-- Adicionando a coluna de quantidade -->
                    <th>Data do Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Ações</th>  <!-- Nova coluna para ações -->
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                    <tr>
                        <td>{{ emprestimo.usuario.nome_usuario }}</td>
                        <td>{{ emprestimo.usuario.cpf }}</td>
                        <td>{{ emprestimo.epi.nome_epi }}</td>
                        <td>{{ emprestimo.quantidade }}</td>  <!-- Exibindo a quantidade emprestada -->
                        <td>{{ emprestimo.data_emprestimo }}</td>
                        <td>{{ emprestimo.data_devolucao }}</td>
                        <td>
                            <a href="{% url 'devolver_emprestimo' emprestimo.id %}" class="btn btn-warning btn-sm">Devolver</a>
                            <a href="{% url 'deletar_emprestimo' emprestimo.id %}" class="btn btn-danger btn-sm">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a href="{% url 'cadastrar_emprestimo' %}" class="btn btn-success mt-3">Cadastrar Novo Empréstimo</a>
    </div>
{% endblock content %}
