
.navbar {
    background-color: #06523f; /* Azul claro para o fundo da navbar */
}

/* Borda ao passar o mouse nos itens do menu */
.nav-link:hover, .dropdown-item:hover {
    border: 1px solid #000;
    border-radius: 5px;     
}


.login-btn {
    border: 2px solid #fff; 
    color: #000;           
    padding: 15px 30px;     
    border-radius: 5px;    
    background-color: transparent; 
    font-size: 16px;       
    font-weight: bold;     
    transition: border-color 0.3s, background-color 0.3s; 
}


.login-btn:hover {
    border-color: #000;    
    color: #000;            
    background-color: #fff; 
}
