{% load static %}

<footer style="background-color: #00ffdd; color: #fff; text-align: center; padding: 20px 0;">
    <div class="card" style="display: inline-block; background-color: #00ffdd; color: #fff; border: none; padding: 20px;">
        <h5 class="card-header">Projeto SENAI - Alunos: Antonio, Victor, Oscar.</h5>
        <div class="card-body">
            <a href="https://github.com/Augant" >
                <i class="fab fa-github"></i> GitHub
            </a>
            <a href="https://api.whatsapp.com/send?phone=5548999184620" >
                <i class="fab fa-whatsapp"></i> WhatsApp
            </a>
            <a href="https://www.linkedin.com/in/antonio-augusto-nunes-gomes-a4567a16b/" >
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
        </div>
    </div>
</footer>
