{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app_base/css/style.css' %}">
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bem vindo!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <!-- Centralize os itens de navegação -->
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Empréstimo de EPI
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/emprestimo">Efetuar Empréstimo</a></li>
                            <li><a class="dropdown-item" href="/listarEmprestimo">Pesquisar Emprestimo EPI</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            EPI's
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/cadastrar_epi">Cadastrar EPI</a></li>
                            <li><a class="dropdown-item" href="/listar_epi">Controle de EPI</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Usuários
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/cadastrar_usuario">Cadastrar Usuário/Colaborador</a></li>
                            <li><a class="dropdown-item" href="/listar_usuarios">Pesquisar Usuário/Colaborador</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Mantenha o botão de login à direita -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link login-btn" href="/loginUser">Login</a>
                    </li>                  
                </ul>
            </div>
        </div>
    </nav>
</header>
