{% extends "app_base/global/index.html" %}

{% load static %}

{% block title %}Cadastrar Usuário{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1>Cadastrar Usuário</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>

    <!-- SweetAlert2 script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Script para exibir mensagens de sucesso ou erro -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if success_message %}
            Swal.fire({
                icon: 'success',
                title: 'Sucesso',
                text: '{{ success_message }}',
                confirmButtonText: 'OK'
            });
            {% elif error_message %}
            Swal.fire({
                icon: 'error',
                title: 'Erro',
                text: '{{ error_message }}',
                confirmButtonText: 'OK'
            });
            {% endif %}
        });
    </script>
{% endblock content %}
