{% extends "app_base/global/index.html" %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'app_usuarios/css/style.css' %}">  <!-- Link para o seu CSS -->

<div class="login-container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" class="form-control" required>
        </div>
        <button type="submit" class="login-btn">Entrar</button>
    </form>
</div>
{% endblock content %}
